.root {
    -fx-background-color: rgba(156, 156, 156, 0.8);
}
.display{
    -fx-border-color: black;
}
.button {
    -fx-font-size: 15pt;
    -fx-font-style: normal;
    -fx-text-fill: white;
    -fx-background-color: rgba(31, 31, 31, 0.56);
    -fx-border-color: rgba(3, 3, 3, 0.84);
}
.clear-button {
    -fx-font-size: 8pt;
    -fx-background-color: lightsalmon;
    -fx-border-color: indianred;
    -fx-alignment: bottom-center;
}